

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
}

.container {
  max-width: 1024px;
  margin: 0 auto;
}

body {
  background-color: #f1f1f1;
}

.header {
  background-image: url(./img/bg-new.jpg);
  background-size: contain;
  background-color: #56d1a3;
  height: 150px;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  padding-bottom: 10px;
}

.header svg {
  font-size: 55px;
}

.header__logo {
  display: flex;
  color: #fff;
  align-items: center;
}

.header--title {
  font-size: 35px;
  font-weight: 600;
  margin-left: 5px;
  margin-top: 5px;
}

.header__category {
  background: #00ffa057;
  border: 2px solid #3fecac;
  margin: 5px;
  padding: 0 30px;
  font-size: 12px;
  border-radius: 50px;
  text-align: center;
  cursor: pointer;
  font-weight: bold;
  color: #ebfff8;
  transition: .3s;
  height: 35px;
  display: flex;
  align-items: center;
}

.header__categories {
  display: flex;
}

.header__category:hover {
  background-color: #8fffd500;
  border-color: #ffffff;
}

.header__right {
  display: -ms-flexbox;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.header__filter {
  background: #ffffff;
  /* border: 2px solid #3cebab; */
  border: 0;
  margin: 5px;
  padding: 0 20px;
  font-size: 12px;
  border-radius: 3px;
  text-align: center;
  cursor: pointer;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
  height: 35px;
  color: #00b288;
  box-shadow: 0px 0px 27px rgba(0, 0, 0, 0.16);
}

.header__grid svg {
  font-size: 35px;
  color: #fff;
}

.header__grid {
  margin-left: 30px;
  padding: 10px;
  display: flex;
  align-items: center;
}

/* POST CARDS */

.post-card {
  margin-top: -30px;
}

.post-card__item {
  display: -ms-flexbox;
  display: flex;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0px -7px 10px rgba(0, 0, 0, 0.06);
  margin: 15px auto;
  margin-bottom: 40px;
  position: relative;
  width: 70%;
  transition: 0.3s;
}

.post-card__item:hover {
  box-shadow: 0px -7px 20px rgba(0, 0, 0, 0.15);
}

.post-card__title {
  font-size: 20px;
  font-weight: 600;
  color: #888;
}

.post-card__date {
  font-size: 12px;
  color: #7b7b7b;
}

.post-card__description {
  font-size: 13px;
  line-height: 1.4;
  color: #636363;
  padding-bottom: 15px;
}

.post-card__actions {
  position: absolute;
  bottom: -23px;
  left: 39px;
  display: flex;
}
.post-card__actions-item {
  background: #eee;
  padding: 5px;
  border-radius: 100px;
  width: 34px;
  height: 34px;
  display: flex;
  margin-right: 5px;
  align-items: center;
  justify-content: center;
}

.post-card--upvote {
  color: #00c295;
}
.post-card--downvote {
  color: #ff5858;
}

.post-card__actions-item.post-card--upvote:hover {
  color: #00614a;
}
.post-card__actions-item.post-card--downvote:hover {
  color: #ad2424;
}

.post-card__actions-item.post-card--upvote svg,
.post-card__actions-item.post-card--downvote svg {
  transition: 0.05s;
  top: 0;
  position: relative;
}


.post-card__utils {
  border-left: 1px solid #e2e2e2;
  background-color: #f7f7f7;
  border-radius: 0 5px 5px 0;
  overflow: hidden;
  width: 40px;
}


.post-card__util-item {
  border-bottom: 1px solid #e3e3e3;
  background-color: transparent;
  height: 40px;
  display: flex;
  flex-wrap: wrap;
  color: #989898;
  align-items: center;
  transition: 0.3s;
  justify-content: center;
}

.post-card__util-item:last-child {
  border: 0;
  padding: 10px 0;
  color: #00ca9c;
}

.post-card__util-item:hover {
  background-color: #fff;
}

.post-card__info {
  flex: 1;
  padding: 25px;
}

.post-card__util-comments {
  width: 100%;
  text-align: center;
  font-size: 10px;
  font-weight: 900;
  line-height: 1;
  color: #00c89a;
}

.post-card__score {
  font-size: 9px;
  font-weight: 900;
  color: #ffffff;
  position: absolute;
  left: -39px;
  border-radius: 0px 50px 0px 10px;
  top: -1px;
  background: #bababa;
  height: 22px;
  width: 23px;
  line-height: 2.9;
  padding-left: 4px;
}

.post-card__top {
  display: flex;
  margin-bottom: 10px;
}

.post-card__avatar {
  width: 50px;
  height: 50px;
  background-color: #eee;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  color: #ccc;
}

.post-card__write {
  padding-left: 15px;
}


/* form */

.edit-card {
  margin: 60px 0;
}

.edit-card__wrapper {
  width: 70%;
  margin: 0 auto;
}

.edit-card form {
  display: flex;
  flex-wrap: wrap;
}

.edit-card input {
  width: 100%;
  border-radius: 3px;
  border: 0;
  padding: 12px 15px;
  margin: 5px 0;
  font-size: 14px;
  color: #908d8d;
}

.edit-card select {
  width: 100%;
  border-radius: 3px;
  border: 0;
  padding: 12px 15px;
  margin: 5px 0;
  font-size: 14px;
  color: #908d8d;
}

.edit-card textarea {
  width: 100%;
  border-radius: 3px;
  border: 0;
  padding: 12px 15px;
  margin: 5px 0;
  font-size: 14px;
  color: #908d8d;
  height: 70px;
}

input.edit-card__button {
  max-width: 160px;
  margin-right: 15px;
}

legend.edit-card__title {
  border: 2px dotted #d0d0d0;
  border-radius: 3px;
  padding: 16px 20px;
  text-align: center;
  color: #939393;
  font-size: 16px;
  margin-bottom: 5px;
}

input.edit-card--send {
  background-color: #00c295;
  color: #fff;
  font-weight: 600;
}